// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Voltaire);

$primary-color: #005c5a;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

h1, h2, h3, h4, h5 {
  color: $primary-color;
}

.post-preview {
  border-bottom: thick solid $primary-color;
}

a, a:visited {
  color: darken($primary-color, 10%);
  &:hover {
    background: lighten($primary-color, 30%)
  }
}


article  {
  h1.title {
    font-style: italic;
  }

  time {
    font: {
      weight: bold;
      family: 'Voltaire', Geneva, sans-serif;
      size: 0.9em;
    }
    padding: 4px;
    border: 2px solid darken($primary-color, 10%);
    @include border-radius(5px);
  }

  .body {
   p { line-height: 1.5em; }
  }
}